# MANAGED_BY_ANSIBLE
external_url "{{ gitlab_endpoint }}"
{% if gitlab_letsencrypt_enabled %}
letsencrypt['auto_renew_day_of_month'] = "*/7"
letsencrypt['auto_renew_hour'] = "12"
letsencrypt['auto_renew_minute'] = "30"
letsencrypt['contact_emails'] = ['{{ gitlab_letsencrypt_contact_email }}']
letsencrypt['enable'] = true
{% else %}
letsencrypt['enable'] = false
{% endif %}
# end
